<app-menu></app-menu>
<div id="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading" style="font-family:Oswald , serif;">
            <div class="row">
              <div class="col-xs-9 text-left">
                <h1>Bienvenidos al proyecto GESANE</h1>
                <h1>
                  <small>El proyecto de referencia en la gestión sanitaria educativa mediante simulación</small>
                </h1>
              </div>
              <div class="col-xs-3 text-right" id="broth_operationicon">
                <i class="fa fa-copyright fa-5x"></i>
              </div>
            </div>
          </div>
          <div class="panel-body">


            <div class="row">
              <div class="container">

                <div class="col-lg-6">

                  <h1>Credits</h1>

                  <p>En este proyecto han participado los siguientes alumnos:</p>
                  <pre>
Belenguer Sánchez, Antonio
Cherniuk, Inna
Escriche Martín, Adrián
Fortea Mas, Bruno
García Lorenzo, Ismael
Guimerà Palacios, Héctor
Ibáñez Verdet, Empar Josep
Igual Zarzoso, Ariadna
Just Iturriaga, Álex
Marco Arévalo, Alberto
Martínez Cordones, Julián
Martín Valero, Fernando
Tedesco Zubimendi, Nicolás
Tolosa Cerezo, Pablo
                                    </pre>
                  <p>Todos ellos son alumnos del Ciclo formativo de Grado superior Desarrollo de aplicaciones web (DAW)</p>
                  <p>Curso 2017-2018</p>
                    <p>Profesor: Rafael Aznar (rafaaznar at gmail dot com)</p>
                    <p>Centro Público Integrado de FP Ausiàs March de València www.ausiasmarch.net</p>
                </div>


                <div class="col-lg-6">
                  <h1>Licencia MIT</h1>

                  The MIT License (MIT) Copyright (c) 2015 by Rafael Aznar & students Permission is hereby granted, free of charge, to any
                  person obtaining a copy of this software and associated documentation files (the "Software"), to deal in
                  the Software without restriction, including without limitation the rights to use, copy, modify, merge,
                  publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the
                  Software is furnished to do so, subject to the following conditions: The above copyright notice and this
                  permission notice shall be included in all copies or substantial portions of the Software. THE SOFTWARE
                  IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE
                  WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
                  THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
                  OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
                  DEALINGS IN THE SOFTWARE.

                </div>
              </div>
            </div>
          </div>
          <div class="panel-footer" style="font-family: Questrial, serif;">
            <a href="https://github.com/rafaelaznar" style="font-family: Questrial, serif;">
              <span class="pull-left"></span>
              <span class="pull-right"> Powered by sisane
                <i class="fa fa-github-alt"></i>
              </span>
            </a>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>