<app-menu></app-menu>
<div id="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading" style="font-family:Oswald , serif;">
            <div class="row">
              <div class="col-xs-9 text-left">
                <h1>Bienvenidos al proyecto GESANE</h1>
                <h1>
                  <small>El proyecto de referencia en la gestión sanitaria educativa mediante simulación</small>
                </h1>
              </div>
              <div class="col-xs-3 text-right" id="broth_operationicon">
                <i class="fa fa-home fa-5x"></i>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="container">
                <div class="col-md-12" style="padding-left: 0px;  padding-right: 0px;">
                  <img src="../assets/images/GESANE80G2.png" alt="Logo Gesane" class="img-responsive">
                </div>
              </div>
              <div class="col-lg-6">
                <h3>¿Qué es GESANE?</h3>
                <ul>
                  <li>GESANE es un proyecto educativo multidisciplinar para alumnos de Formación Profesional</li>
                  <li>GESANE es un simulador de gestión sanitaria para alumnos de Ciclos Formativos de Grado Superior de la familia
                    Sanitaria.
                  </li>
                  <li>La estructura de GESANE además es caso de estudio para los alumnos del Ciclo Formativo de Grado Superior
                    en Desarrollo de Aplicciones Web (DAW).</li>
                </ul>
                <h3>¿Quién impulsa este proyecto?</h3>
                <ul>
                  <li>El autor de la aplicación base es Rafael Aznar (rafaaznar at gmail dot com); profesor-tutor de segundo
                    del Ciclo Formativo de Grado Superior denominado Desarrollo de Aplicaciones Web.</li>
                  <li>La aplicación ha sido desarrollada mediante la colaboración de alumnos de segundo curso de DAW.
                    <li>El asesoramiento en materia sanitaria corre a cargo de Isabel Gimeno (igimenos at ausiasmarch dot
                      net), profesora con gran experiencia en Ciclos Formativos en la Failia Sanitaria.</li>
                    <li>Además en la Rama sanitaria contamos con la participación de la profesora Maria José García (mgarcia
                      at ausiasmarch dot net)</li>
                </ul>
              </div>
              <div class="col-lg-6">
                <h3>¿Qué pretendemos con este proyecto?</h3>
                <h4>Para alumnos de la rama sanitaria...</h4>
                <ul>
                  <li>Modelizar procesos de atención sanitaria con un doble objetivo: construir la aplicación GESANE y Preparar
                    materiales didácticos para su uso por parte del alumnado.</li>
                  <li>Los programas de gestión sanitaria son inaccesibles a nivel académico. Con GESANE queremos simular la realidad
                    de los centros de atención sanitaria para preparar mejor a los alumnos para que tengan una mejor integración
                    profesional.
                  </li>
                </ul>
                <h4>Para alumnos de Desarrollo de aplicaciones web...</h4>
                <ul>
                  <li>Aprender a estructurar el diseño de un proyecto web</li>
                  <li>Simular la creación de un proyecto complejo en un entorno de trabajo</li>
                  <li>Participar de manera práctica en la creación de una aplicación web compleja</li>
                </ul>
                <h3>Si eres profesor/a de la família sanitaria puedes participar en el proyecto:</h3>
                <p>Ponte en contacto con Isabel Gimeno mediante email. Ella coordina la parte sanitaria del proyecto. Después
                  de comprobar que eres profesor/a te crearemos una cuenta de docente para que puedas comenzar a utilizar
                  la aplicación con tus alumnos.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="alert alert-danger" role="alert">
                  <h3>Contacto</h3>
                  <ul>
                    <li>Responsable familia informática en el proyecto: Rafael Ángel Aznar Aparici (rafaaznar at gmail dot
                      com)
                    </li>
                    <li>Responsable familia sanidad en el proyecto: Isabel Gimeno Soro: (igimenos at ausiasmarch dot net)</li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="alert alert-danger" role="alert">
                  <h3>Licencia</h3>
                  <ul>
                    <li>El proyecto está siendo desarrollado bajo licencia MIT</li>
                  </ul>
                  <h3>Fuentes</h3>
                  <ul>
                    <li>
                      <a href="https://github.com/rafaelaznar/gesane-client">GESANE CLIENT: https://github.com/rafaelaznar/gesane-client</a>
                    </li>
                    <li>
                      <a href="https://github.com/rafaelaznar/gesane-server">GESANE SERVER https://github.com/rafaelaznar/gesane-server</a>
                    </li>
                    <li>
                      <a href="https://github.com/rafaelaznar/gesane-database">GESANE DATABASE: https://github.com/rafaelaznar/gesane-database</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
          <div class="panel-footer" style="font-family: Questrial, serif;"><app-footer></app-footer></div>
        </div>
      </div>
    </div>
  </div>
</div>
