<app-menu></app-menu>
<div id="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <app-header [ob]="ob" [op]="op"></app-header>
          </div>
          <div class="panel-body">
            <div class="row-fluid" *ngIf="status">
              <div class="col-xs-12">
                <div class="alert alert-info" role="alert">
                  <br>
                  <h3 class="bg-info">{{status}}</h3>
                  <br>
                  <a class="btn btn-default" (click)="back()">Volver</a>
                  <a class="btn btn-default" (click)="close()">Cerrar</a>
                </div>
              </div>
            </div>
            <div class="row-fluid" *ngIf="!status">
              <div class="span6 offset3">
                <table class="table table-striped table-condensed">
                  <thead>
                    <tr>
                      <th>Campo</th>
                      <th>Valor</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let oMetap of metap" class="text-left">
                      <td>{{oMetap.Description}}</td>
                      <td *ngIf="oMetap.Type == 'Id'">
                        <b>{{bean[oMetap.Name]}}</b>
                      </td>
                      <td *ngIf="oMetap.Type == 'Date'">{{bean[oMetap.Name]}}</td>
                      <td *ngIf="oMetap.Type == 'Integer'">{{bean[oMetap.Name]}}</td>
                      <td *ngIf="oMetap.Type == 'Decimal'">{{bean[oMetap.Name]}}</td>
                      <td *ngIf="oMetap.Type == 'String'">{{bean[oMetap.Name]}}</td>
                      <td *ngIf="oMetap.Type == 'Calculated'">{{bean[oMetap.Name]}}</td>
                      <td *ngIf="oMetap.Type == 'Boolean'" [innerHTML]="bean[oMetap.Name] | Booleanize"></td>
                      <td *ngIf="oMetap.Type == 'ForeignObject'">
                        <span *ngIf="bean[oMetap.Name].data.id > 0" class="{{bean[oMetap.Name].metaObject.Icon}}"></span>
                        <a href="{{oMetap.References}}/{{profile}}/view/{{bean[oMetap.Name].data.id}}">{{bean[oMetap.Name]|GetForeignDescription}}</a>
                      </td>
                      <td *ngIf="oMetap.Type == 'Link'">
                        <a class="btn btn-default btn-xs" href="{{oMetap.References}}/{{profile}}/x{{ob}}/plistx/{{bean['id']}}">{{bean[oMetap.Name]}}</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="control-group text-right">
                  <div class="controls">
                    <h3>¿Está seguro de que desea borrar el registro?</h3>
                    <a class="btn btn-danger" (click)="removeOne()">Si</a>
                    <a class="btn btn-default" (click)="back()">No</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-footer" style="font-family: Questrial, serif;">
            <app-footer></app-footer>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
